---
import Layout from "../layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import About from "@components/About.astro";
import Experience from "@components/Experience.astro";
import Education from "@components/Education.astro";
import Projects from "@components/Projects.astro";
import Skills from "@components/Skills.astro";
---

<Layout title="Hoja de vida de Cristian Fernando Morales">
  <main class="py-6 mt-6">
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Skills />
  </main>
</Layout>

<style>
  @media print {
    main {
      margin: 0;
    }
  }
</style>
