---
import Section from "./Section.astro";
import Code from "@icons/Code.astro";
import { PROJECTS } from "../constants/constants";
import Project from "@components/Project.astro";
---

<Section title="Proyectos" icon={Code} id="projects">
  <div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3">
    {
      PROJECTS.map((project) => {
        return <Project {project} />;
      })
    }
  </div>
</Section>

